.post-content {
  // @import "content/highlight";
  @import "_content/image";
}

.header-link {
  margin-left: 0.2em;
  visibility: hidden;
}

.post-content-header:hover .header-link {
  visibility: visible;
}
