// ==============================
// Post footer
// ==============================

.post-footer {
  .post-tags {
    margin-top: 1em;

    a {
      word-break: break-all;
      margin-right: 10px;

      &::before {
        content: '#';
      }
    }
  }

  .post-nav {
    margin-top: 1em;
    @include clearfix;

    .prev,
    .next {
      font-weight: 600;

      transition-property: transform;
      transition-timing-function: ease-out;
      transition-duration: 0.3s;
    }

    .prev {
      float: left;

      &:hover {
        color: var(--pico-primary);
        transform: translateX(-4px);
      }
    }

    .next {
      float: right;

      &:hover {
        color: var(--pico-primary);
        transform: translateX(4px);
      }
    }

    .nav-mobile {
      display: none;
    }
  }
}

@include style-to-mobile() {
  .post-footer {
    .post-nav {
      .nav-default {
        display: none;
      }

      .nav-mobile {
        display: inline;
      }
    }
  }
}
