.post-header {
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px $grey-150 solid;

  .post-title {
    margin: unset;
    font-size: 2em;
    font-weight: 700;
    font-family: $title-font-family;

    @include style-to-mobile {
      font-size: 1.3rem;
    }

    .post-pinned svg {
      vertical-align: middle;
      width: 24px;
      height: 24px;
      fill: var(--pico-primary);
    }
  }

  .post-title-i18n {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .post-meta {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    flex-flow: wrap;

    .post-meta-author {
      a {
        color: var(--pico-primary);
      }
    }

    .post-meta-time {
      margin-left: 1em;
    }

    .post-meta-lastmod {
      margin-left: 0.5em;
      font-size: 0.8em;
      font-style: italic;
    }

    .post-meta__right {
      margin-left: auto;
      display: flex;
      font-size: 0.8em;
      flex-direction: column;
      line-height: 1.318;
      text-align: right;
    }

    .post-meta-category {
      display: inline;

      a {
        &:not(:first-child)::before {
          content: "·";
        }
      }
    }

    a {
      text-decoration: none;
    }
  }
}
