{{ define "content" }}
  {{ if .Params.introductionWidget }}
    {{ partial "widget/introduction_card.html" . }}
  {{ end }}

  {{ if .Params.postWidget }}
    {{ range .Params.postWidget }}
      {{ if eq .type "recent" }}
        {{ partial "widget/recent_posts.html" (dict
          "context" $
          "count" .count
          "title" .title
        ) }}
      {{ end }}

      {{ if eq .type "category" }}
        {{ partial "widget/category_posts.html" (dict
          "context" $
          "count" .count
          "title" .title
          "category" .category
        ) }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if .Params.projectWidget }}
    {{ range .Params.projectWidget }}
      {{ partial "widget/project_card.html" (dict
        "context" $
        "title" .title
        "items" .items
      ) }}
    {{ end }}
  {{ end }}
{{ end }}
