{
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["*.html", "*.css"],
      "options": {
        "parser": "go-template",
        "singleQuote": false
      }
    }
  ],
  "singleQuote": true
}
