<div class="w-full items-center px-10 py-12 flex flex-col bg-gray-400 gap-6">
    <div class="text-2xl font-bold text-indigo-900">Klien Kami</div>
    <div class="w-full grid grid-cols-6 lg:grid-cols-11 gap-2">
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/logo-atrium.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/logo-ikea.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/logo-JIS.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/logo-sun-frontier.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/logo-suzuki.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/logo-univenus.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/Logo-Waskita.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/25.-modernland.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/1.-lippo.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/10.-COWEL.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/11.-SEKAR.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/12-AL-AZHAR.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/13.-hec.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/14.-ibis.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/15.-gesit.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/16.-crbc.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/17.-pikko-land.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/18.-united.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/19.-bumi-putera.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/2.-taspen.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/20.-PT.-PRAKARSA-SEMESTA-ALAM.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/22.-BANK-BRI.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/23.-farpoint.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/24.-PT-PEMBANGUNAN-JAYA-ANCOL.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/25.-modernland-1.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/26.-harley.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/27.-pt-pulo-mas-jaya.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/28.-kalma-propertindo.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/29.-hk-realtindo.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/3.-bni.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/3.-duta-anggada.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/30.-ssampoerna-strategic.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/31.-mitshubishi-1.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/32.-pt-danayasa-arthama.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/33.-biro-klarifikasi-indonesia.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/34.-jakpro.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/35.-mra-1.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/36.-transjakarta.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/38.-net.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/39.-kg-global.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/40.-asiana.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/41.-karyagraha-nusantara.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/42.-mandiri.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/43.-rscm.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/44.-pakuwon-group.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/45.-samudera-reksa-abadi.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/5.-prospero.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/6.-crcc.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/7.-prodia.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/8.-astra.png" alt="">
        </div>
        <div class="shadow-lg bg-white p-1 md:p-4 rounded-2xl hover:opacity-90 h-20 flex items-center justify-center">
            <img src="/image/klien/9.-PP.png" alt="">
        </div>
    </div>
</div>