// ==============================
// Author Info
// ==============================

.author-info {
  margin: var(--pico-block-spacing-vertical) auto;
  max-width: $article-max-width;
  background: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
  padding: 2em 5em 2em 5em;

  @media (max-width: $large-breakpoint) {
    padding: 2em 2em 2em 2em;
  }

  [data-theme="dark"] & {
    background: $slate-900;
    box-shadow: var(--pico-card-background-color);
  }

  .author-box {
    grid-column-gap: var(--pico-grid-column-gap);
    grid-row-gap: var(--pico-grid-row-gap);
    display: grid;
    grid-template-columns: 1fr 3fr;

    @media (max-width: $mobile-breakpoint) {
      grid-template-columns: 1fr;
    }

    .author-image {
      text-align: center;
      min-width: 0px;
    }
    .author-image img {
      margin: 1em auto 1em auto;
      border-radius: 50%;
      border: 1px solid var(--pico-muted-border-color);
    }
    .author-content {
      text-align: left;
      min-width: 0px;

      .author-title {
        color: var(--pico-muted-color);
        margin-bottom: 0.1em;
        font-size: 14px;
      }
      .author-name {
        font-weight: bold;
        margin-top: 0em;
        margin-bottom: 0.5em;
      }
      .author-desc {
        font-size: 16px;
      }
    }
  }
}
