// ==============================
// Back to top
// =============================

.button__back-to-top {
  position: fixed;
  left: 1em;
  bottom: 1em;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  z-index: 10;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
  }
}
.button__pop-whatsapp {
  position: fixed;
  right: 0.5em;
  bottom: 3em;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  z-index: 10;
  cursor: pointer;
}
@include max-screen() {
  .button__back-to-top {
    display: none !important;
  }
}
