// ==============================
// Post footer
// =============================

.footer {
  margin-top: 3rem;
  background: var(--pico-primary-focus);
  padding-top: 2rem;
  padding-bottom: 1rem;

  @import "_footer/social";
  @import "_footer/copyright";
}
