@use "sass:meta";
// ==============================
// Post footer
// =============================

.site-footer {
  margin-top: 3rem;
  background: var(--pico-primary-focus);
  padding-top: 2rem;
  padding-bottom: 1rem;

  @include meta.load-css("_footer/social");
  @include meta.load-css("_footer/copyright");
}
