.content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 10.5rem 1fr 10.5rem;
  grid-template-areas: "toc content sidebar";

  @include style-to-mobile() {
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "content" "toc" "sidebar";
  }

  .sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }

  .toc {
    grid-area: toc;
  }
}

.content {
  margin-top: 5rem;

  @include style-to-mobile() {
    margin-top: 1rem;
  }

}

.post {
  max-width: $article-max-width;
  margin: 0 auto;
  @import "_post/header";
  @import "_post/content";
  @import "_post/copyright";
  @import "_post/reward";
  @import "_post/footer";
}

.comment {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: $article-max-width;
}

.disqus-comment {
  margin: 0 5em 3em;
  @import "_post/disqus";
}

@import "_toc";
