.content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 10.5rem 1fr 10.5rem;
  grid-template-areas: "toc content sidebar";

  .sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }

  .toc {
    grid-area: toc;
  }
}

.content {
  .post {
    max-width: $article-max-width;
    margin: 0 auto;
    margin-top: 5rem;

    @import "_post/header";
    @import "_post/content";
    @import "_post/copyright";
    @import "_post/reward";
    @import "_post/footer";
  }

  .comment {
    margin: 0 auto;
    margin-top: 2rem;
    max-width: $article-max-width;
  }
}

.disqus-comment {
  margin: 0 5em 3em;
  @import "_post/disqus";
}

@import "_toc";
