.highlight {
  position: relative;
  margin: 1em 0;
  overflow-x: auto;
  border: 2px solid #dddddd;
  line-height: 1.6;

  code {
    all: unset;
  }

  pre {
    margin: 0; /* remove normal pre margin */
  }

  table {
    padding: 1em 0.3em !important;

    td:nth-child(2) code{
      &::after {
        position: absolute;
        top: 0;
        right: 0.5em;
        font-weight: bold;
        content: attr(data-lang);
      }
    }
  }
}
