{{ $count := default 3 .count }}
{{ $category := .category }}
{{ $posts := where .context.Site.RegularPages "Params.categories" "intersect" (slice $category) }}

<section class="post-card-container">

  <h2>{{ .title }}</h2>
  <div class="posts-grid">
    {{ range first $count $posts }}
    <a href="{{ .Permalink }}" class="jane-card post-card">
      <article>
        <time>{{ .Date | time.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</time>
        <h3>{{ .Title }}</h3>
        <p>{{ .Summary | plainify | truncate 120 }}</p>
        <span class="read-more">{{ i18n "readmore" }}</span>
      </article>
    </a>
    {{ end }}
  </div>
  <div class="view-all-container">
    {{ with .context.Site.GetPage (printf "/categories/%s" $category) }}
      <a role="button" href="{{ .Permalink }}" class="btn-view-all">{{ i18n "view_all_posts"}}</a>
    {{ end }}
  </div>

</section>
