<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default `en` }}" itemscope itemtype="http://schema.org/WebPage" data-theme="light">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <div id="back-to-top"></div>

  <header>
    {{ partial "desktop_header.html" . }}
    {{ partial "mobile_header.html" . }}
  </header>

  {{/* {{ if or .Site.Params.photoswipe .Site.Params.fancybox }}
  {{ partial "photoswipe.html" . }}
  {{ end }} */}}

  {{/* {{ if .Site.Params.search.google.enable }}
  {{ partial "search_google.html" . }}
  {{ end }} */}}



  <main id="main" class="main pico container">
    {{ block "content" . }}{{ end }}
  </main>

  <footer id="footer" class="footer">
    {{ partial "footer.html" . }}
  </footer>

  {{ partial "scripts.html" . }}
</body>

</html>
