{{ define "title" }}{{ i18n "archive" }} - {{ .Site.Title }}{{ end }}

{{ define "content"}}
{{- $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 10) }}

{{ $title_block := printf `
<div class="archive-title">
  <h1>%s</h1>
  <span class="archive-post-counter">%s</span>
</div>
` (i18n "archive") (i18n "counter_archives" (len .Data.Pages)) }}

{{ partial "archive-list.html" (dict
  "paginator" $paginator
  "title_block" $title_block
  "show_category_nav" true
  "context" .
) }}

{{ end }}
