{{ define "content" -}}
  <div class="content-wrapper">
    <div id="content" class="content">
      <article class="post">
        <!-- post-header -->
        <header class="post-header">
          <h1 class="post-title">{{ .Title }}</h1>
          {{ partial "post/i18nlist.html" . }}
          {{ partial "post/meta.html" . }}
        </header>

        <!-- Content -->
        <div class="post-content">
          {{ .Content }}
        </div>

        <!-- Copyright -->
        {{ partial "post/copyright.html" . }}


        <!-- Reward -->
        {{ partial "post/reward.html" . }}


        <footer class="post-footer">
          {{ with .Params.tags -}}
            <div class="post-tags">
              {{ range . }}
                {{- $name := . -}}
                {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
                  <a href="{{ .Permalink }}">{{ $name }}</a>
                {{ end -}}
              {{ end }}
            </div>
          {{- end }}


          <!-- Post Pagination -->
          <nav class="post-nav">
            {{ with .NextInSection }}
              <a class="prev" href="{{ .RelPermalink }}">
                {{/* icon left */}}
                <i class="iconfont">
                  {{ partial "svg/left.svg" }}
                </i>
                <span class="prev-text nav-default">{{ .Title }}</span>
                <span class="prev-text nav-mobile">{{ i18n "prev_post" }}</span>
              </a>
            {{- end }}
            {{ with .PrevInSection }}
              <a class="next" href="{{ .RelPermalink }}">
                <span class="next-text nav-default">{{ .Title }}</span>
                <span class="prev-text nav-mobile">{{ i18n "next_post" }}</span>
                {{/* icon right */}}
                <i class="iconfont">
                  {{ partial "svg/right.svg" }}
                </i>
              </a>
            {{- end }}
          </nav>
        </footer>
      </article>

      <!-- Author Info -->
      {{ if and (.Site.Params.author.name | default .Site.Author.name) (.Params.showAuthorInfo | default .Site.Params.showAuthorInfo) }}
        {{ partial "author_info.html" (dict "author" (.Site.Params.author.name | default .Site.Author.name) "context" $) }}
      {{ end }}


      <!-- Comments -->
      {{ partial "comments.html" . }}

    </div>

    <!-- TOC -->
    {{ partial "post/toc.html" . }}

  </div>
{{- end }}
