p > code, pre {
  padding: 7px;
  background: $code-background;
}

code, pre {
  font-size: $code-font-size;
  font-family: $code-font-family;
  border-radius: 4px;
  color: $code-color;
  padding: 0;
}

.chroma {
  margin: 0;
}

.highlight > .chroma {
  margin: 1em 0;
  overflow-x: auto;
  position: relative;
  border: 2px solid #dddddd;

  table {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px 7px;
      font-size: $code-font-size;
      font-weight: bold;
      color: darken($gray, 10%);
      background: darken($code-background, 3%);
      content: 'Code';
    }
  }

  > table::after {
    content: attr(data-lang);
    text-transform: capitalize;
  }

  table, tr, td {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
  }

  tr>td:first-child {
    width: 1%;
    white-space: nowrap;
  }

  .lnt {
    color: $gray;
  }
}

@import '_chroma_highlight';
