@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Mixin for styles that apply above a specified minimum screen width
// Default breakpoint is set to $mobile-breakpoint
@mixin style-to-desktop($min-width: $mobile-breakpoint) {
   @media screen and (min-width: $min-width) {
     @content;
   }
}

// Mixin for styles that apply below a specified maximum screen width
// Default breakpoint is set to $mobile-breakpoint
@mixin style-to-mobile($max-width: $mobile-breakpoint) {
   @media screen and (max-width: $max-width) {
     @content;
   }
}
