// ==============================
// Social
// =============================

// donot use social-links keyword,Otherwise it will be intercepted by Adblock.
.icon-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1em;

  .icon-link {
    color: var(--pico-contrast);
    font-size: 1.7em;
    padding: 0 0.1em;

    & + .iconfont {
      margin-left: 0.5em;
    }

    &:hover {
      color: var(--pico-primary);

      svg {
        fill: var(--pico-primary);
      }
    }
  }
}
