.highlight-container {
  margin: 1em 0;
}

.highlight {
  position: relative;
  overflow-x: auto;
  border: 2px solid #dddddd;
  line-height: 1.6;

  & > div {
    padding: 1em 0.3em;
  }

  code {
    all: unset;
    border-radius: 0;
    padding: 0 !important;
  }

  pre {
    margin: 0; /* remove normal pre margin */
    border-radius: 0;
  }

  table {
    padding: 1em 0.3em !important;

    // td:nth-child(2) code {
    //   &::after {
    //     position: absolute;
    //     top: 0;
    //     left: 0.5em;
    //     font-weight: bold;
    //     content: attr(data-lang);
    //   }
    // }
  }
}

button.copy-code-btn {
  /* right-align */
  display: block;
  margin-left: auto;
  margin-right: 0;

  margin-bottom: -2px;
  font-size: 0.6em;
  padding: 0.1em 0.3em;
}
