<div class=" w-full px-3 py-6 grid grid-cols-1 grid-rows-3 md:grid-rows-1 md:grid-cols-3 gap-8 text-white">
  <div class=" gap-5 flex flex-col">
    <h5 class=" font-extrabold text-lg">Hubungi Kami</h5>
    <h4 class=" font-extrabold text-xl">PT Tata Amalia Jaya</h4>
    <ul class=" list-disc text-sm font-medium gap-2 flex flex-col pl-3">
      <li>Menara Cohive 101 – lantai 8, Mega Kuningan , Jakarta Selatan</li>
      <li>+62 821 1212 4452</li>
      <li>marketing@perizinanjakarta.com</li>
    </ul>
    <div class=" flex flex-row gap-3">{{ partial "social_links.html" . }}</div>
  </div>
  <div class="flex flex-col text-center items-center gap-3">
    <h5 class=" font-extrabold text-lg">POWERED BY :</h5>
    <img src="/image/klien/Lisensia_Logo.png" alt="Lisensi" class=" w-24" />
    <h6 class="text-xs">Aplikasi Management Perizinan</h6>
    <h6 class="text-xs">Bangunan Gedung</h6>
  </div>
  <div class="flex flex-col gap-3">
    <h5 class=" font-extrabold text-lg">Layanan Kami</h5>
    
    <ul class=" list-disc text-sm font-medium gap-2 flex flex-col pl-5">
      <li>IZIN TATA RUANG</li>
      <li>IZIN LINGKUNGAN</li>
      <li>IZIN SEBELUM PEMBANGUNAN</li>
      <li>IZIN PENDUKUNG IMB</li>
      <li>IZIN PASCA PEMBANGUNAN</li>
      <li>IZIN MENARA DAN REKLAME</li>
    </ul>
  </div>
</div>
<div class=" bg-blue-900 py-12 w-full text-gray-500 flex flex-col items-center gap-5">
  <h6 class="text-xs">Konsultan Perizinan Jakarta - PT Tata Amalia Jaya</h6>
  <div class=" flex flex-row gap-3">{{ partial "social_links.html" . }}</div>
</div>