<div class="logo-wrapper">
  <a href="{{ "/" | relURL }}" class="logo">
    {{- if .Site.Params.logoTitle -}}
      {{ .Site.Params.logoTitle }}
    {{- else -}}
      {{ .Site.Title }}
    {{- end -}}
  </a>
</div>

<nav class="site-navbar">
  <ul id="menu" class="menu">
    {{ range .Site.Menus.main -}}
      <li class="menu-item">
        {{if hasPrefix .URL "http"}}
        <a class="menu-item-link" href="{{ .URL | safeURL }}" target="_blank">
          {{ .Name }}
          <i class="iconfont icon-new-window"></i>
        </a>
        {{else}}
        <a class="menu-item-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
        {{end}}
      </li>
    {{- end }}
  </ul>
</nav>