<!-- Google Search Modal -->
<div class="pico">
  <dialog class="search-modal" id="search-modal">
    <!-- Modal content-->
    <article>
      <header>
        <button aria-label="Close" rel="prev" data-target="search-modal" onclick="toggleModal(event)"></button>
        <p>
          {{- if $.Site.Params.search.google.title -}}
          {{ $.Site.Params.search.google.title }}
          {{- else -}}
          Search
          {{- end -}}
        </p>
      </header>

      <div class="modal-body">
        <script>
          (function () {
            var cx = '{{ .Site.Params.search.google.id }}';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' :
              'http:') +
              '//cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:search></gcse:search>
      </div>
    </article>
  </dialog>
</div>
