{{/* This file show footer social icons */}}
{{ $icons := partial "icons.html" . }}
{{/* social icons */}}
{{- range $name, $url := .Site.Params.social}}
{{- if $url }}
{{- $iconName := slicestr $name 2 }}

{{- with index $icons $iconName }}
<a href="{{ $url | safeURL }}" rel="me noopener" class="social-icon-link" title="{{ $iconName }}" {{ if not (hasPrefix
  $url "mailto:" ) }} target="_blank" {{ end }}>
  {{ partial "icons/icon" (dict
  "path" (printf "icons/social/%s.svg" $iconName)
  ) }}
</a>
{{- else }}
{{/* 如果图标不存在，使用一个通用的社交媒体图标或跳过 */}}
<a href="{{ $url | safeURL }}" rel="me noopener" class="social-icon-link" title="{{ $iconName }}" {{ if not (hasPrefix
  $url "mailto:" ) }} target="_blank" {{ end }}>
  {{ partial "icons/icon" (dict
  "path" "icons/header/external-link.svg"
  ) }}
</a>
{{- end }}
{{- end }}
{{- end }}

{{/* RSS icon */}}
{{ with .Site.GetPage "home" -}}
{{- with .OutputFormats.Get "RSS" -}}
<a href="{{ .Permalink }}" rel="noopener {{ .Rel }}" type="{{ .MediaType.Type }}" class="social-icon-link" title="rss"
  target="_blank">
  {{ partial "icons/icon" (dict
  "path" "icons/header/rss.svg"
  ) }}
</a>
{{ end -}}
{{- end -}}
