{{/* This file show footer social icons */}}
{{ $icons := partial "icons.html" . }}
{{/* social icons */}}
{{- range $name, $path := .Site.Params.social}}
{{- if $path }}
{{- $iconName := slicestr $name 2 }}
{{- $path := index $.Site.Params.social $iconName }}
{{- with index $icons $iconName }}
<a href="{{ $path | safeURL }}" rel="me noopener" class="icon-link" title="{{ $iconName }}" {{ if not (hasPrefix
  $path "mailto:" ) }} target="_blank" {{ end }}>
  {{ partial "icons/icon" . }}
</a>
{{- else }}
{{/* 如果图标不存在，使用一个通用的社交媒体图标或跳过 */}}
<a href="{{ $path | safeURL }}" rel="me noopener" class="icon-link" title="{{ $iconName }}" {{ if not (hasPrefix
  $path "mailto:" ) }} target="_blank" {{ end }}>
  {{ partial "icons/icon" $icons.externalLink }}
</a>
{{- end }}
{{- end }}
{{- end }}

{{/* RSS icon */}}
{{ with .Site.GetPage "home" -}}
{{- with .OutputFormats.Get "RSS" -}}
<a href="{{ .Permalink }}" rel="noopener {{ .Rel }}" type="{{ .MediaType.Type }}" class="icon-link" title="rss"
  target="_blank">
  {{ partial "icons/icon" $icons.rss }}
</a>
{{ end -}}
{{- end -}}
