// ==============================
// Post
// ==============================

.posts {
  // margin-bottom: $post-list-margin-bottom;
//  border-bottom: $post-border;
}

.post {
  padding: 3em 5em;
  margin: 0 5em 3em;
  
  // & + .post {
  //   border-top: $post-border;
  // }

  @import '_post/header';
  @import '_post/toc';
  @import '_post/content';
  @import '_post/copyright';
  @import '_post/reward';
  @import '_post/footer';
  @import '_post/disqus';
}

@media screen and (max-width: 504px) {
  .post {
    padding: 1em 1em;
    margin: 0 0 2em;
  }

  .content-wrapper {
    padding: 1em 0 1px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1080px) {
  .post {
    margin: 0 2em 2em;
  }

  .content-wrapper {
    padding: 2em 0 1px;
  }
}

@media screen and (min-width: 504px) and (max-width: 899px) {
  .post {
    padding: 1em 1em;
    margin: 0 1em 2em;
  }

  .content-wrapper {
    padding: 1em 0 1px;
  }

}
