<div class="comment">
  <div id="load_disqus_container">
    <button class="disqus-button" onclick="load_disqus()">
      {{ i18n "loadDisqus" }}
    </button>
  </div>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_config = function () {
      this.page.url = {{ .Permalink }};
    };
    function load_disqus() {
      // Don't ever inject Disqus on localhost--it creates unwanted
      // discussions from 'localhost:1313' on your Disqus account...
      if (window.location.hostname === 'localhost') return;

      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      var disqus_shortname = '{{ .Site.Config.Services.Disqus.Shortname }}';
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

      document.getElementById('load_disqus_container').style.display = 'none';

      // disqus needs to be reloaded when the theme is changed
      const themeToggles = document.querySelectorAll('.theme-toggle');
      themeToggles.forEach(toggle => {
        toggle.addEventListener('click', function (e) {
          e.preventDefault();
          DISQUS.reset({
            reload: true,
            config: disqus_config,
          });
        });
      });
    };
  </script>
  <noscript>Please enable JavaScript to view the
    <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
  <!-- <a href="http://disqus.com/" class="dsq-brlink" target="_blank">comments powered by <span class="logo-disqus">Disqus</span></a> -->
</div>
