<div class="post bg-white">
  <script
    src="https://giscus.app/client.js"
    data-repo="{{ .Site.Params.giscus.repo }}"
    data-repo-id="{{ .Site.Params.giscus.repoId }}"
    data-category="{{ .Site.Params.giscus.category }}"
    data-category-id="{{ .Site.Params.giscus.categoryId }}"
    data-mapping="{{ .Site.Params.giscus.mapping | default `pathname` }}"
    data-strict="{{ (string .Site.Params.giscus.strict) | default 0 }}"
    data-reactions-enabled="{{ (string .Site.Params.giscus.reactionsEnabled) |  default 1 }}"
    data-emit-metadata="{{ (string .Site.Params.giscus.emitMetadata) | default 0 }}"
    data-input-position="{{ .Site.Params.giscus.inputPosition | default `top` }}"
    data-theme="{{ .Site.Params.giscus.theme | default `light` }}"
    data-lang="{{ .Site.Params.giscus.lang | default `en` }}"
    {{ if .Site.Params.giscus.lazyLoading }}
      data-loading="lazy"
    {{ end }}
    crossorigin="anonymous"
    async
  ></script>
</div>
