.menu-item {
  display: block;
  height: 100%;
  min-height: 2em;
  padding: 0 1em;
  position: relative;

  &:hover {
    background: var(--pico-primary-hover-background);

    .menu-item-link {
      // color: $theme-color;
    }
  }

  .menu-item-link {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .submenu {
    visibility: hidden;
    position: absolute;
    left: 0;
    min-width: 100%;
    list-style: none;
    padding: 0;
    background: var(--pico-secondary-background);
    white-space: nowrap;
    border-bottom: none;
    z-index: 99;

    .submenu-item {
      border-bottom: 1px solid #fff;

      &:hover {
        background: var(--pico-primary-hover-background);
        a {
          // color: $theme-color;
        }
      }

      a {
        padding: 0.5em;
        width: 100%;
        display: block;
      }
    }
  }

  &:hover .submenu {
    visibility: visible;
    transition-delay: 0s; /* react immediately on hover */
  }
}
