// ==============================
// Menu
// =============================

.site-navbar {
  margin-left: auto;

  // reset default ul
  ul {
    margin: 0
  }

  .menu {
    display: flex;
    height: 100%;
    // font-family: $global-serif-font-family;

    .active {
      font-weight: bold;
      background: var(--pico-primary-hover-background);
    }

    @import "./menu-item";
  }
}

@include max-screen() {
  .site-navbar {
    display: none;
  }
}

.menu-item-lang .icon-globe::before {
  font-size: 0.9em;
}
