<div style="width: 100%;" id="teaser-image">
  <div style="display: flex; flex-wrap: wrap;">
    <div
      class=" absolute z-10 ml-5 mt-5 text-base md:text-2xl font-extrabold"
      style="color: #001a57;"
    >
      <span class=" font-normal"> Jasa Perizinan Pembangunan </span>
      <br />
      <span>IPPR, IMB, IMP, DIRWAS,</span>
      <br />
      <span>BAST, SLF dll.</span>
      <br />
      <span>DI JAKARTA DAN SEKITARNYA</span>
      <br />
      <button class="bg-white p-2 md:p-4 rounded-xl shadow-md text-xs md:text-sm mt-3">KONSULTASI DENGAN KAMI</button>
    </div>
    <img style="z-index: 0; width: 100%;" class=" object-cover h-60 md:h-auto" src="{{ . }}" />
  </div>
</div>
