<div class="w-full grid grid-cols-2 md:grid-cols-4 gap-2 my-3">
    <div class="p-1 bg-gray-200 grid py-3 grid-flow-row rounded-md shadow-md">
      <span class="w-full justify-center flex">
        <img src="{{ .Get "src1" }}" alt="" />
      </span>
      <span class="w-full min-h-48 text-center font-medium text-sm">
        <span class=" font-bold">{{ .Get "title1" }}</span> <br>
        {{ .Get "description1" }}
      </span>
    </div>
    <div class="p-1 grid grid-flow-row py-3 rounded-md shadow-md">
      <span class="w-full justify-center flex">
        <img src="{{ .Get "src2" }}" alt="" />
      </span>
      <span class="w-full min-h-48 text-center font-medium text-sm">
        <span class=" font-bold">{{ .Get "title2" }}</span> <br>
        {{ .Get "description2" }}
      </span>
    </div>
    <div class="p-1 bg-gray-200 grid py-3 grid-flow-row rounded-md shadow-md">
      <span class="w-full justify-center flex">
        <img src="{{ .Get "src3" }}" alt="" />
      </span>
      <span class="w-full min-h-48 text-center font-medium text-sm">
        <span class=" font-bold">{{ .Get "title3" }}</span> <br>
        {{ .Get "description3" }}
      </span>
    </div>
    <div class="p-1 grid grid-flow-row py-3 rounded-md shadow-md">
      <span class="w-full justify-center flex">
        <img src="{{ .Get "src4" }}" alt="" />
      </span>
      <span class="w-full min-h-48 text-center font-medium text-sm">
        <span class=" font-bold">{{ .Get "title4" }}</span> <br>
        {{ .Get "description4" }}
      </span>
    </div>
  </div>
  