.introduction-card {
  padding: 3rem 0;
  border-bottom: 1px solid var(--pico-muted-border-color);

  &__content {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: $mobile-breakpoint) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__avatar {
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__text {
    flex: 1;
    width: 100%;

    p {
      font-size: 1.25rem;
      margin-bottom: 1em;
    }
  }

  &__social {
    display: flex;
    font-size: 1.5rem;
    gap: 0.5em;
    flex-wrap: wrap;

    @media (max-width: $mobile-breakpoint) {
      justify-content: center;
    }

    .social-link {
      // font-size: 1.5rem;
      transition: color 0.3s ease;

      &:hover {
        color: var(--pico-primary);
      }
    }
  }
}
